body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 130px;
    color: white;
}

h2 {
    text-align:center;
    color: white;
    font-size: 30px;
    color: white;
}

button {
    justify-content: center;
}