body {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #cccccc;
}

#title_slide {
    background-image: url("images/i_have_a_website.png");
    background-color: #cccccc;
    background-repeat: repeat;
}

.highlight{
    display: inline-block;
    /* padding: 0 0; */
    background: #cccccc;
    height: auto;
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 120px;
    color: white;
    margin: auto;
    font-family: 'Nokora', sans-serif;
    border: rgb(7, 7, 7);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: auto;
    font-family: 'Nokora', sans-serif;
}

button {
    margin-top: 50px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-family: 'Nokora', sans-serif;
    border: 0px;
    border-radius: 10px;
}

.center {
    text-align: center;
}

.background_img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

/* .grid_elems {
    display: grid;
} */